/* ---------------------------------------------------------------------------------
HOJA DE ESTILOS CREADA POR: 
INTERSOFT-latin.  2002-2015
www.miguayaba.com
------------------------------------------------------------------------------------*/
.primaryContainer {
    height: auto;
    margin-left: auto;
    margin-right: auto;
    min-height: 100%;
    max-width: 1200px;
}


#conter_header {
    float: left;
    margin: 0px 0px 0px 0%;
    clear: none;
    width: 100%;
}

#logo {
    float: left;
    margin-left: 0%;
    margin-top: 0px;
    clear: none;
    width: 30%;
    padding: 8px;

}

#mod-header {
    float: left;
    margin-left: 0%;
    margin-top: 0px;
    clear: none;
    width: 70%;
    padding: 8px;
    margin-right: 0%;
}

#menu {
    float: left;
    height: 45px;
    margin-left: 0%;
    margin-top: 0px;
    clear: both;
    width: 100%;
    min-width: 0px;
    background-color: rgb(116, 116, 116);
}

#banner {
    float: left;
    margin-left: 0%;
    margin-top: 0px;
    clear: both;
    width: 100%;
    overflow: hidden;
}

#contenedor-central {
    float: left;
    margin: 0px;
    clear: both;
    width: 100%;
    display: block;
}

#conten-top {
    float: left;
    margin: 0px;
    clear: none;
    width: 100%;
    padding: 15px;
    display: block;
}

#mod1 {
    float: left;
    margin: 0.99937862% 1% 1% 1.997463%;
    clear: both;
    width: 30%;

}

#mod2 {
    float: left;
    margin: 0.99937862% 2% 1% 2.000052%;
    clear: none;
    width: 30%;
}

#mod3 {
    float: left;
    margin: 1%;
    clear: none;
    width: 30%;
}

#contenido-central {
    float: left;
    margin: 1% 2% 2% 2%;
    clear: both;
    width: 96%;
}

#contenido {
    float: left;
    margin: 0px;
    clear: none;
    width: 70%;
}

#derecha {
    float: left;
    margin: 0px;
    clear: none;
    width: 30%;
}

#c-top {
    float: left;
    margin: 0px;
    clear: none;
    width: 100%;
    display: block;
}

#c-central {
    float: left;
    margin: 0px;
    clear: both;
    width: 100%;
    display: block;
}

#c-bottom {
    float: left;
    margin: 0px;
    clear: both;
    width: 100%;
    display: block;
}

#mod4 {
    float: left;
    margin: 1% 1% 1% 2%;
    clear: both;
    width: 30%;
    display: block;
    padding: 0px;
}

#mod5 {
    float: left;
    margin: 1% 2%;
    clear: none;
    width: 30%;
    display: block;
}

#mod6 {
    float: left;
    margin: 1%;
    clear: none;
    width: 30%;
    display: block;
}

#contenido-abajo {
    float: left;
    margin: 20px 0px 0px;
    clear: both;
    width: 100%;
    padding: 20px;
}

#contenedor-footer {
    float: left;
    margin: 20px 0px 0px;
    clear: both;
    width: 100%;
}

#mod7 {
    float: left;
    margin: 1% 1% 1% 2%;
    clear: none;
    width: 30%;
}

#mod8 {
    float: left;
    margin: 1% 2%;
    clear: none;
    width: 30%;
}

#mod9 {
    float: left;
    margin: 1%;
    clear: none;
    width: 30%;
}

#mod10 {
    float: left;
    margin: 1% 2%;
    clear: none;
    width: 60%;
}

#mod11 {
    float: left;
    margin: 1%;
    clear: none;
    width: 33%;
}

#contenedor-credito {
    float: left;
    margin: 10px 0px 0px;
    clear: both;
    width: 100%;
}

#creditos {
    float: none;
    margin: 0px auto;
    clear: none;
    width: 95%;

}


/*--------------------------------------------------------------------------------------------------
	***********************	 ESTILOS VARIOS	***************************** 
 --------------------------------------------------------------------------------------------------*/


/*--------------------------------------------------------------------------------------------------
	***********************	 RESPONSIVE	***************************** 
 --------------------------------------------------------------------------------------------------*/

@media only screen and ( max-width: 980px ) {

	body { min-width: 768px;padding: 0!important;}
    

}

@media only screen and (max-width: 747px) { 

	body { min-width: 320px;padding: 0!important; }
    
    #logo {
        width: 100%;
    }

    #mod-header {
        margin-top: 0px;
        margin-left: 0%;
        clear: both;
        width: 100%;
        margin-right: 0%;
    }

    #menu {
        margin-left: 0%;
        clear: both;
    }

    #banner {
        visibility: hidden;
    }

    #mod1 {
        width: 100%;
    }

    #mod2 {
        margin: 5px 0px;
        width: 100%;
    }

    #mod3 {
        width: 100%;
        margin: 0px;
    }

    #contenido {
        width: 100%;
    }

    #derecha {
        width: 100%;
    }

    #contenido-central {
        margin: 0px;
        width: 100%;
    }

    #mod4 {
        width: 100%;
        margin: 0px;
    }

    #mod5 {
        margin: 5px 0px;
        width: 100%;
    }

    #mod6 {
        width: 100%;
        margin: 0px;
    }

    #mod7 {
        width: 100%;
        margin: 0px 0px 10px;
    }

    #mod8 {
        width: 48%;
        margin: 1%;
    }

    #mod9 {
        width: 48%;
    }

    #mod10 {
        width: 98%;
        margin: 1%;
    }

    #mod11 {
        width: 98%;
        margin: 1%;
    }
}

