/* ---------------------------------------------------------------------------------
HOJA DE ESTILOS CREADA POR: 
INTERSOFT-latin.  2002-2015
www.miguayaba.com
------------------------------------------------------------------------------------*/
.primaryContainer {
    height: auto;
    margin-left: auto;
    margin-right: auto;
    min-height: 100%;
    
}


#conter_header {
    float: left;
    margin: 0px 0px 0px 0%;
    clear: none;
    width: 100%;
    position: absolute;
    z-index: 10;
    top: 2%;
    left: 1%;
}

#logo {
    float: left;
    margin-left: 0%;
    margin-top: 0px;
    clear: none;
    width: 45%;
    padding: 8px;

}

#mod-header {
    float: left;
    margin-left: 0%;
    margin-top: 0px;
    clear: none;
    width: 50%;
    padding: 8px;
    margin-right: 0%;
}

#menu {
    float: left;
    height: 45px;
    margin-left: 0%;
    margin-top: 0px;
    clear: both;
    width: 100%;
    min-width: 0px;

}

#line-menu{

    width: 100%;
    background-color: #000;
    height: 10px;
    margin-top: -3px;
    float: left;
    clear: both;
}
#banner {
    float: left;
    margin-left: 0%;
    margin-top: 0px;
    clear: both;
    width: 100%;
    overflow: hidden;
}

#contenedor-central {
    float: left;
    margin-top: 30px;
    clear: both;
    width: 100%;
    display: block;
}

#conten-top {
    float: left;
    margin: 0px;
    clear: none;
    width: 100%;
    padding: 15px;
    display: block;
}

#mod1 {
    float: left;
    margin: 3% 3% 1% 6%;
    clear: both;
    width: 25%;

}

#mod2 {
    float: left;
    margin: 3% 4% 1% 4%;
    clear: none;
    width: 25%;
}

#mod3 {
    float: left;
    margin: 3% 2.5% 1% 2.5%; 
    clear: none;
    width: 25%;
}

#contenido-central {
    float: left;
    margin: 1% 2% 2% 2%;
    clear: both;
    width: 96%;
}

#contenido {
    float: left;
    margin: 0px;
    clear: none;
    width: 70%;
}

.contenido100 {
    width: 100% !important;
}


#derecha {
    float: left;
    margin: 0px;
    clear: none;
    width: 30%;
}

#c-top {
    float: left;
    margin: 0px;
    clear: none;
    width: 100%;
    display: block;
}

#c-central {
    float: left;
    margin: 0px;
    clear: both;
    width: 100%;
    display: block;
}

#c-bottom {
    float: left;
    margin: 0px;
    clear: both;
    width: 100%;
    display: block;
}

#mod4 {
    float: left;
    margin: 1% 1% 1% 2%;
    clear: both;
    width: 30%;
    display: block;
    padding: 0px;
}

#mod5 {
    float: left;
    margin: 1% 2%;
    clear: none;
    width: 30%;
    display: block;
}

#mod6 {
    float: left;
    margin: 1%;
    clear: none;
    width: 30%;
    display: block;
}

#contenido-abajo {
    float: left;
    margin: 20px 0px 0px;
    clear: both;
    width: 100%;
    padding: 20px;
}

#contenedor-footer {
    float: left;
    margin: 20px 0px 0px;
    clear: both;
    width: 100%;
}

#mod7 {
    float: left;
    margin: 1% 1% 1% 2%;
    clear: none;
    width: 30%;
}

#mod8 {
    float: left;
    margin: 1% 2%;
    clear: none;
    width: 30%;
}

#mod9 {
    float: left;
    margin: 1%;
    clear: none;
    width: 30%;
}

#mod10 {
    float: left;
    margin: 1% 2%;
    clear: none;
    width: 60%;
}

#mod11 {
    float: left;
    margin: 1%;
    clear: none;
    width: 33%;
}

#contenedor-credito {
    float: left;
    margin: 10px 0px 0px;
    clear: both;
    width: 100%;
    background-color: #1c1c1c;
}

#creditos {
    float: none;
    margin: 0px auto;
    clear: none;
    width: 95%;
    color: #cdcdcd;
    margin-top: 40px;

}

#creditos p{color: #cdcdcd;}
#creditos a{color: #cdcdcd;}
#creditos td{color: #cdcdcd;}

/*--------------------------------------------------------------------------------------------------
	***********************	 ESTILOS VARIOS	***************************** 
 --------------------------------------------------------------------------------------------------*/

.icono{ width:120px;position:absolute;top:-60px;z-index:10}
.m1{right:455px;}
.m2{right:300px;}
.m3{right:152px;}
.m4{right:5px;}
.m1:hover{cursor: pointer;width:130px;top:-65px}
.m2:hover{cursor: pointer;width:130px;top:-65px}
.m3:hover{cursor: pointer;width:130px;top:-65px}
.m4:hover{cursor: pointer;width:130px;top:-65px}

#contacto-contenido{float:left;width: 70%;margin-right:4%;}
#contacto-formulario{float:left; width: 25%;margin-bottom: 20px;margin-top:20px;}




/*--------------------------------------------------------------------------------------------------
	***********************	 RESPONSIVE	***************************** 
 --------------------------------------------------------------------------------------------------*/
@media only screen and ( max-width: 1200px ) {


.icono{ width:100px;top:-50px;}
.m1{right:328px;}
.m2{right:220px;}
.m3{right:112px;}
.m4{right:5px;}
.m1:hover{cursor: pointer;width:110px;top:-55px}
.m2:hover{cursor: pointer;width:110px;top:-55px}
.m3:hover{cursor: pointer;width:110px;top:-55px}
.m4:hover{cursor: pointer;width:110px;top:-55px}   

}

@media only screen and ( max-width: 860px ) {

.icono{ width:80px;top:-40px;}
.m1{right:300px;}
.m2{right:200px;}
.m3{right:100px;}
.m4{right:5px;}
.m1:hover{cursor: pointer;width:90px;top:-45px}
.m2:hover{cursor: pointer;width:90px;top:-45px}
.m3:hover{cursor: pointer;width:90px;top:-45px}
.m4:hover{cursor: pointer;width:90px;top:-45px} 

.tab-none{display: none;}
.tab-size{width: 40% !important;} 

#contacto-contenido{float:left;width: 65%;margin-right:4%;}
#contacto-formulario{float:left; width: 25%;margin-bottom: 20px;margin-top:20px;}    

}

@media only screen and (max-width: 747px) { 

	body { min-width: 320px;padding: 0!important; }
    
    #logo {
        width: 90%;
        margin: 30px auto 0px auto;
        float: none;
    }

    #mod-header{display: none;}


    #menu {
        display: none;
    }

    #line-menu{height: 3px;background-color: #CAA75B;}
    .icono {display: none; }

    #banner {
        /*visibility: hidden;*/
        opacity: 0.3;
    }

    #contenedor-central{
        margin-top:0px;
    }

    #mod1 {
        width: 85%%;
        padding: 3%;
        margin: auto;
        float: none;
    }

    #mod2 {
        padding: 3%;
        width: 85%%;
        margin: auto;
        float: none;
    }

    #mod3 {
        width: 85%%;
        padding: 3%;
        margin: auto;
        float: none;
    }

    #contenido {
        width: 85%;
    }


    #derecha {
        width: 100%;
    }

    #contenido-central {
        margin: 0px;
        width: 100%;
    }

    #mod4 {
        width: 100%;
        margin: 0px;
    }

    #mod5 {
        margin: 5px 0px;
        width: 100%;
    }

    #mod6 {
        width: 100%;
        margin: 0px;
    }

    #mod7 {
        width: 100%;
        margin: 0px 0px 10px;
    }

    #mod8 {
        width: 48%;
        margin: 1%;
    }

    #mod9 {
        width: 48%;
    }

    #mod10 {
        width: 98%;
        margin: 1%;
    }

    #mod11 {
        width: 98%;
        margin: 1%;
    }

    .tab-none{display: none;}
    .tab-size{width: 40% !important;}

    #contacto-contenido{float:none;margin:auto; width: 90%;}
    #contacto-formulario{float:none;margin:auto; width: 90%;}
}

